.container {
    max-width: 1400px;
    height: 60px;
    position: sticky;
    top: 0;
    left: 0;
}
.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    flex: 1;
    font-size: 24px;
    color: #1aac83;
    font-weight: 600;
    margin-left: 50px;
    user-select: none;
    cursor: pointer;
}
.menu{
    flex: 1;
    display: flex;
    justify-content: end;
    margin-right: 50px;
    gap: 20px;
    user-select: none;
}
.menu-item {
    font-size: 16px;
    cursor: pointer;
    font-weight: 400;
    text-decoration: none;
}