* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.pages {
  max-width: 1400px;
  max-height: 100vh;
  margin: 0 auto;
  padding: 20px;
  background-color: #f1f1f1;

}

